extends template

block main
  nav
    p NotePad
    ul
      li: a(href='/notes?token=' + token) Notes
      li: a(href='/notes/create?token=' + token) Create A Note
      li: a(href='/logout') Logout
  form.form--createnote
    h1 Create Your Note!
    .error-message
    .form__group
      label.group__label(for="title") title:
      input.group__input(id="title" type="text" name="name")
    .form__group
      label.group__label(for="note") Note:
      <textarea id="note" rows="4" cols="50" name="text"></textarea>
    button(type="submit") Create Note