extends template
block main
  header
    nav
      p NotePad
      ul
        li: a(href='/login') Login
        li: a(href='/register') Sign Up
    p Save Your're Notes!
    p: a(href='/register') Sign Up
  body
    p Need a place to store your notes?
    p Sign up and get a personal notepad